@font-face {
    font-family: pokemonFontWhite;
    src: local("Pokemon_Hollow"), url(/assets/fonts/Pokemon_Hollow.ttf) format("truetype");
}

@font-face {
    font-family: pokemonFontBlack;
    src: local("Pokemon_Solid"), url(/assets/fonts/Pokemon_Solid.ttf) format("truetype");
}

.background{
    height: 100%;
}

.centeredDiv{
    padding-top: 50px;
    text-align: center;
    top : 50%;
}

.titleText {
    color: white;
    letter-spacing: 3px;
    font-size: 30px;
    font-family: pokemonFontBlack;
}

input[type="inputText"] {
    font-size:24px;
    font-family: pokemonFontBlack;
    letter-spacing: 10px;
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
    margin: 3px 15px;
}


.rainbow-button {
    background-color: black;
    font-family: pokemonFontBlack;
    color: #eeeeee;
    font-size:20px;
    letter-spacing: 10px;
    margin: 3px 15px;

}
