
    <div style="width: 100%; height: 100%;" class="homeBackground">
    <div class="centeredDiv">
      <p>Bonsoir jeune homme, qui êtes-vous ?</p>
      <input type="text" required (change)="setTrainerName($event)">
      
      <button mat-fab color="primary" (click)="goToTeamBuilder()" class="centeredElement" style="left: 28%">Go !</button>
    </div>
  </div>


  <!--
      <div style="width: 100%; height: 100%;" class="homeBackground">
    <div class="centeredDiv">
      <p>Bonsoir jeune homme, qui êtes-vous ?</p>
      <input type="text" [(ngModel)]="trainerName" required>
      <button mat-fab color="primary" (click)="goToTeamBuilder()" class="centeredElement" style="left: 28%">Go !</button>
    </div>
  </div>

  -->