<section class="stadium">
    <section class="enemy">
        <img src="assets/{{currentBotPokemon.name}}_front.gif"> 
        <mat-progress-bar color="accent" mode="determinate" [value]="(currentBotPokemon.currentHp / currentBotPokemon.hp) * 100"></mat-progress-bar>
        <p>{{currentBotPokemon.currentHp}}/{{currentBotPokemon.hp}}</p>
    </section>
    <section class="hero">
        <img src="assets/{{currentTrainerPokemon.name}}_back.gif"> 
        <mat-progress-bar color="accent" mode="determinate" [value]="(currentTrainerPokemon.currentHp / currentTrainerPokemon.hp) * 100"></mat-progress-bar>
        <p>{{currentTrainerPokemon.currentHp}}/{{currentTrainerPokemon.hp}}</p>
    </section>
</section>
<section>
    <button class="pauseButton" (click)="triggerPauseButton()">{{btnText}}</button>
</section>
<section>
    <ul>
        <li *ngFor="let log of fightLogs">
          {{ log }}
        </li>
      </ul>
</section>