<div [style.background]="'url(assets/team_background.jpg)'" style="width: 100%;height: 100%;position: absolute; top: 0;left: 0;">
   <table>
      <tr>
         <td>
            <h1>Bienvenue {{getTrainer().getName()}} !</h1>
         </td>
         <td>
            <h2 style="font-size: large; text-align: center;">Choisissez votre Pokémon:</h2>
         </td>
      </tr>
      <tr>
         <td width="30%">
            <img src="assets/trainer.png" width="200" height="400"/>
         </td>
         <td width="70%">
            <mat-grid-list cols = "5" rowHeight = "120px" gutterSize="5px">
               <div *ngFor="let pokemon of pokemons;">
                  <mat-grid-tile>
                     <div>
                        <div>
                           <button mat-button (click)="toBattle(pokemon)">
                              <img src="assets/{{pokemon.image}}.gif">
                           </button>
                        </div>
                        <div style="background-color:transparent;">
                           {{pokemon.name}}
                        </div>
                     </div>
                  </mat-grid-tile>
               </div>
            </mat-grid-list>
         </td>
      </tr>
   </table>
  </div>
  <audio id="myAudio" loop autoplay>
   <source src="../../assets/audios/selection.mp3" type="audio/mpeg">
 </audio>