.body {
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
}

table{
    text-align: center;
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
td {
    background-color: rgba(255, 255, 255, .5);
    vertical-align: top;
}

.pokemon-button {
    position: center; 
    margin: 10px;
    text-align: center;
    padding: 10px;
}


.background{
    margin: 0px;
    position: center; 
    text-align: center;
    height: 100%;
    width: 100%;
}